table{
	width:380px;
	height:100%;
	position: fixed;
	top:0px;
	right: 0px;
	text-align: center;
	box-shadow:0px 0px 16px rgba(115, 115, 115, 1);
}

.info{
	font-size: 20px;
	font-family: sans-serif;
}
td#myname{
	font-size:40px;
	font-family: 'Elsie Swash Caps', cursive;
}
img{
	width:80%;
	border-radius:50%;
}

img#facebook{
	width:12%;
}
img#gmail{
	width:11%;
}
img#github{
	width: 16%;
}

body{
	background: linear-gradient(to left, rgb(191, 191, 191), rgb(242, 242, 242));
	font-size:16px;
	font-family: sans-serif;
}
.mydiv{
	width:14%;
	height:20px;
	padding:20px 30px;
	cursor: pointer;
	box-shadow:0px 8px 8px rgba(115, 115, 115, 0.3);
	border-radius: 6px;
}

.mydiv:hover{
	color:white;
	background-color:#333333;
	font-size:18px;
}

ul{
	display: none;
	font-size: 16px; /*to override .mydiv:hover */
	padding-left: 20px;
	border-radius: 6px;
	width:600px;
	position: fixed;
	left: 270px;
	top:20px;
	list-style-type: none;
	box-shadow: 0px 10px 8px rgba(115, 115, 115, 0.3);
}
ul li{
	margin-bottom: 14px;
}

span#logo{
	font-weight: bold;
	color:#00bfff;
	font-size: 20px;
}

li a {
	text-decoration: none;
	color: #4d2800;
}
#details5 li{
	display: inline;
	text-align: center;
}

.ref-img{
	width:30%;
}
.social-icons{
	width:6%;
}